<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>紫鉄艦隊</title>
  <link rel="icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="body">
  <header>
    <div>
      <h1>紫鉄艦隊</h1>
    </div>
  </header>
  <main>
    <div class="index_button">
      <a href="/users/login" class="index_login"><img src="/img/login_user.png"></a>
      <a href="/users/new" class="index_new"><img src="/img/new_user.png"></a>
    </div>
    <div class="index_img">
      
    </div>
    
  </main>
</body>
</html>