<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>紫鉄艦隊</title>
  <link rel="icon" href="/img/favicon.ico">
  <!-- CSS（キャッシュ対策） -->
  <link rel="stylesheet" href="/css/style.css?v=1">
  <link rel="stylesheet" href="/css/shop.css?v=1">
  <!-- JS（deferで安全に読み込む） -->
  <script src="/js/shop.js" defer></script>
</head>