<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>紫鉄艦隊</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/sign_in.css">
  </head>
  <body>
    <div class="background">
      <img src="/img/PIFPNGloginup.png">
    </div>
    <div class="sign_form">
      <form class="loginform" action="/users/login" method="post">
        <input type="text" name="name" placeholder="ニックネーム">
        <input type="password" name="password" placeholder="パスワード">
        <div class="submit">
          <input type="submit" value="ログイン">
        </div>
      </form>
      <p class="footer">
        <a href="/users/new">新規登録</a>
      </p>
    </div>
  </body>
</html>