<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>紫鉄艦隊</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="sign_form">
      <div class="card">
        <div class="title">
          <img src="/img/PIFPNGloginup.png">
        </div>
        <form class="loginupform" action="/users/new" method="post">
          <input type="text" name="name" placeholder="ニックネーム">
          <input type="text" name="mail" placeholder="メールアドレス">
          <input type="password" name="password" placeholder="パスワード">
          <input type="submit" value="新規登録">
        </form>
        <p class="footer"><a href="/users/login">ログイン</a></p>
      </div>
    </div>
  </body>
</html>